.nav{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 10px 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(166, 166, 166, 0.5);
}

.nav__ul{
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color :#2e363e;
}

.nav__chats-notification{
  background-color: tomato;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 6px;
  position: absolute;
  left: 15px;
  bottom : 12px;
}

.nav__more-notification{
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  position: absolute;
  left: 26px;
  bottom : 24px;
}