/* find, friends, more, chats에 사용되는 header */
.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px var(--horizontal-space) 14px var(--horizontal-space);
  margin-bottom: 10px;
}

.screen-header__title {
  font-size: 28px;
  font-weight: 600;
}

.screen-header__icons{
  display: flex;
  align-items: center;
}

.screen-header__icons span {
  margin-left: 16px;
}

.screen-header__notification{
  position: absolute;
  right: 18px;
  top: 40px;
}

